<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmgarzo.dublinbus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.DublinBusProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <service
            android:name=".sync.services.RealTimeBusInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.TimeTableBusInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.FullTimetableBusInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.BusStopInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.RouteInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.OperatorInformationService"
            android:exported="false" />
        <service
            android:name=".sync.services.RouteListInformationService"
            android:exported="false" />

        <activity
            android:name=".RouteActivity"
            android:label="@string/title_activity_route"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>